<div class="relative">
  <div class="flex gap-6">
    <app-passenger-selector
      (passengersChange)="presetPassengers = $event"
    ></app-passenger-selector>
    <app-class-selector
      (classChange)="selectedClass = $event"
    ></app-class-selector>

    <app-flight-type-selector
      (flightTypeChange)="selectedFlightType = $event"
    ></app-flight-type-selector>

    <app-luggage></app-luggage>
  </div>

  <div class="flex gap-24">
    <div class="flex gap-6">
      <app-location-selector
        label="Origin"
        [locations]="locations"
        (locationChange)="selectedOrigin = $event"
      ></app-location-selector>
      <app-location-selector
        label="Destination"
        [locations]="locations"
        (locationChange)="selectedDestination = $event"
      ></app-location-selector>
    </div>

    <datepicker-overview-example></datepicker-overview-example>
  </div>

  <app-search-button (searchClick)="searchFlights()"></app-search-button>
</div>
