<div class="relative">
  <div class="flex gap-6">
    <app-passenger-selector></app-passenger-selector>

    <app-class-selector></app-class-selector>

    <app-flight-type-selector></app-flight-type-selector>
  </div>

  <div class="flex gap-24">
    <app-location-selector></app-location-selector>

    <datepicker-overview-example></datepicker-overview-example>
  </div>

  <app-search-button></app-search-button>
</div>

<div *ngIf="flightResults.length > 0">
  <h2>Flight Search Results</h2>
  <div *ngFor="let flight of flightResults">
    <p>{{ flight.origin }} - {{ flight.destination }}</p>
    <p>Departure: {{ flight.departureDate }}</p>
    <p>Price: {{ flight.price }}</p>
  </div>
</div>
